body {
    background-color: black;
    display: flex;
}
.cajaTitulo {
   display: grid;
   place-items: center;
}

.cajaTitulo h1{
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.titulo {
    color: orange;
    text-align: center;
    
}
