body {
    background-color: black;
    display: flex;
}


.cajaTitulo h1{
    justify-content: center;
    text-align: center;
    font-size: 3em;
}

.titulo {
    color: orange;
    text-align: center;
    
}

.container-main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.emojis{
    width: 100%;
    text-align: center;
}

.input{
    margin: 0 auto;
}

.buttonSend{
    display: flex;
    justify-content: center;
    justify-content: center;
}

.lives{
    color: aliceblue;
}

.points{
    color: aliceblue;
}